---
import Layout from '../layouts/Layout.astro';
import BriefCaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Projects from '../components/Projects.astro';
import Hero from '../components/Hero.astro';
---

<Layout
	title="Markel's Portfolio - RPA Developer and Full Stack Developer in training"
	description="Meet Markel, an RPA Developer with over 3 years of experience and a Full Stack Developer in training."
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero/>
		</SectionContainer>

		<div class="space-y-24">
			<SectionContainer id="experience">
				<h2 class="text-gray-900 dark:text-white text-3xl font-semi-bold mb-6 flex gap-x-3 items-center">
					<BriefCaseIcon class="size-7" />
					Work Experience
				</h2>
				<Experience />
			</SectionContainer>
	
			<SectionContainer id="projects">
				<h2 class="text-gray-900 dark:text-white text-3xl font-semi-bold mb-6 flex gap-x-3 items-center">
					<CodeIcon class="size-7" />
					Projects
				</h2>
				<Projects />
			</SectionContainer>
		</div>
	</main>
</Layout>