---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SocialPill from '../components/SocialPill.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import MailIcon from '../components/icons/Mail.astro';
import BriefCaseIcon from '../components/icons/Briefcase.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout
	title="Markel's Portfolio - RPA Developer and Web Developer in training"
	description="Meet Markel, an RPA Developer with over 3 years of experience and a Full Stack Developer in training."
>
	<main class="px-4">
		<SectionContainer class="py-44 pb-24">
			<img
				class="rounded-full size-12 mb-4"
				src="https://i.pinimg.com/736x/38/1d/6e/381d6edab2cb8693e04e9e5923c20ec6.jpg"
				alt="Web picture"
			/>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey! I'm Markel 
				<a
					href="https://www.linkedin.com/in/markel-cortajarena/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center">
					<Badge>Available</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-x-[700px]">
				<span class="text-green-400">More than 3 years of experience</span> as an <span class="text-yellow-300">RPA Developer</span>, and <span class="text-yellow-300">Full Stack Developer</span> in training.
			</h2>
		
			<nav class="flex gap-4 mt-8 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/markel-cortajarena/">
					<LinkedInIcon class="size-4 md:size-5 lg:size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/MarkelK14">
					<GitHubIcon class="size-4 md:size-5 lg:size-6" />
					GitHub
				</SocialPill>
				<SocialPill href="mailto:markelkortajarena@gmail.com">
					<MailIcon class="size-4 md:size-5 lg:size-6" />
					Mail
				</SocialPill>
			</nav>
		</SectionContainer>
		
		<SectionContainer id="experience">
			<h2 class="text-2xl font-semi-bold mb-6 flex gap-x-3 items-center">
				<BriefCaseIcon class="size-7" />
				Work Experience
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>