---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'June 2025 - Present',
        title: 'Packaged App Development Senior Analyst',
        company: "Accenture",
        description: 'Senior analyst combining technical development with team leadership and project management. Responsibilities include training new team members, coordinating teams during large-scale migrations, participating in meetings with international teams to resolve critical server issues, planning and organizing tasks, and developing advanced automations.',
        // link: 'https://www.accenture.com/us-en/careers/jobdetails?id=R00000000',
    },{
        date: 'May 2024 - June 2025',
        title: 'Packaged App Development Analyst',
        company: "Accenture",
        description: 'Analyst focused on optimizing and improving existing automations while taking on higher-responsibility tasks. Participated in complex migrations ensuring data integrity and security, contributed to technical decision-making, and led the migration of data from Oracle to Azure Synapse.',
        // link: 'https://www.accenture.com/us-en/careers/jobdetails?id=R00000000',
    },
    {
        date: 'August 2022 - May 2024',
        title: 'Application Developmen Associate',
        company: "Accenture",
        description: 'Associate responsible for developing and enhancing automations and processes of increasing complexity. Implemented new features, optimized automation performance, started creating Power BI reports, and migrated version control from SourceSafe to Azure DevOps.',
    },
    {
        date: 'March 2022 - August 2022',
        title: 'Intern',
        company: "Accenture",
        description: 'Internship introducing me to RPA and automation development. Developed and maintained solutions using SQL Server and SSIS, created bots with Selenium and SAP Scripting in VB.NET and C#, queried Oracle Database, enhanced internal desktop applications in C#, and worked with SourceSafe (later migrated to Azure DevOps) for version control.',
    },
    {
        date: 'March 2021 - June 2021',
        title: 'Web Application Developer',
        company: "Serikat",
        description: 'Developed and maintained web applications for the Consorcio de Aguas de Bizkaia using VB.NET, JavaScript, and SQL. Implemented UI and business logic improvements, optimized SQL queries and procedures, developed new features according to project requirements, and provided technical support to ensure production stability.',
    },
];
---

<ol class="relative mt-16">
    {
      EXPERIENCE.map((experience) => (
        <li class="">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>

