---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'June 2025 - Present',
        title: 'Packaged App Development Senior Analyst',
        company: "Accenture",
        description: 'RPA Developer in the Scottish Power Improvement project, responsible for developing and maintaining automations using Microsoft SQL Server and SSIS, creating bots with Selenium and SAP Scripting in VB.NET and C#, querying data in Oracle Database, and enhancing desktop applications in C#.',
        // link: 'https://www.accenture.com/us-en/careers/jobdetails?id=R00000000',
    },{
        date: 'May 2024 - June 2025',
        title: 'Packaged App Development Analyst',
        company: "Accenture",
        description: 'RPA Developer in the Scottish Power Improvement project, responsible for developing and maintaining automations using Microsoft SQL Server and SSIS, creating bots with Selenium and SAP Scripting in VB.NET and C#, querying data in Oracle Database, and enhancing desktop applications in C#.',
        // link: 'https://www.accenture.com/us-en/careers/jobdetails?id=R00000000',
    },
    {
        date: 'August 2022 - May 2024',
        title: 'Application Developmen Associate',
        company: "Accenture",
        description: 'RPA Developer in the Scottish Power Improvement project, responsible for developing and maintaining automations using Microsoft SQL Server and SSIS, creating bots with Selenium and SAP Scripting in VB.NET and C#, querying data in Oracle Database, and enhancing desktop applications in C#.',
    },
    {
        date: 'March 2022 - August 2022',
        title: 'Intern',
        company: "Accenture",
        description: 'RPA Developer in the Scottish Power Improvement project, responsible for developing and maintaining automations using Microsoft SQL Server and SSIS, creating bots with Selenium and SAP Scripting in VB.NET and C#, querying data in Oracle Database, and enhancing desktop applications in C#.',
    },
];
---

<ol class="relative mt-16">
    {
      EXPERIENCE.map((experience) => (
        <li class="">
          <ExperienceItem {...experience} />
        </li>
      ))
    }
  </ol>

