---
import ThemeToggle from "./ThemeToggle.astro"

const navItems = [
  {
    title: "Work experience",
    data_label: "experience",
    url: "/#experience",
    aria_label: "Navigate to Work Experience section",
  },
  {
    title: "Projects",
    data_label: "projects",
    url: "/#projects",
    aria_label: "Navigate to Projects section",
  },
  // {
  //   title: "Education",
  //   data_label: "education",
  //   url: "/#education",
  //   aria_label: "Navigate to Education section",
  // },
  // {
  //   title: "Certifications",
  //   data_label: "certifications",
  //   url: "/#certifications",
  //   aria_label: "Navigate to Certifications section",
  // },
  // {
  //   title: "About me",
  //   data_label: "about-me",
  //   url: "/#about-me",
  //   aria_label: "Meet Markel",
  // },
  {
    title: "Contact",
    data_label: "contact",
    url: "mailto:markelkortajarena@gmail.com",
    aria_label: "Contact Markel via email",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-800 dark:text-gray-200 justify-center items-center dark:bg-gray-800 bg-white"
    >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500 focus-visible:ring focus-visible:ring-blue-500 focus-visible:ring-offset-2"
          aria-label={link.aria_label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>