---
import Header from "../components/Header.astro";
import "../styles/global.css";
import '@fontsource-variable/onest';
import Footer from "../components/Footer.astro";


const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />

		<!-- HTML Meta Tags -->
		<title>Markel's Portfolio - RPA Developer and Web Developer in training</title>
		<meta name="description" content="Meet Markel, an RPA Developer with over 3 years of experience and a Full Stack Developer in training.">

		<!-- Open Graph & Facebook Meta Tags -->
		<meta property="og:url" content="https://markelcn.com">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Markel's Portfolio - RPA Developer and Full Stack Developer in training">
		<meta property="og:description" content="Meet Markel, an RPA Developer with over 3 years of experience and a Full Stack Developer in training.">
		<meta property="og:image" content="https://markelcn.com/og-image.jpg">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="markelcn.com">
		<meta property="twitter:url" content="https://markelcn.com">
		<meta name="twitter:title" content="Markel's Portfolio - RPA Developer and Full Stack Developer in training">
		<meta name="twitter:description" content="Meet Markel, an RPA Developer with over 3 years of experience and a Full Stack Developer in training.">
		<meta name="twitter:image" content="https://markelcn.com/og-image.jpg">
	</head>
	<body class="relative text-black dark:text-white">
		<div
		class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full bg-gray-50 dark:bg-gray-950
		bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
		dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		></div>

		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
	  color-scheme: light dark;
	}

	html {
	  font-family: "Onest Variable", system-ui, sans-serif;
	  scroll-behavior: smooth;
	}

	body {
	  color: #111111e6;
	  display: flex;
	  flex-direction: column;
	  min-height: 100vh;
	  overscroll-behavior: none;
	}

	@media (prefers-reduced-motion: reduce) {
	  html {
		scroll-behavior: auto;
	  }
	}

	@media (prefers-color-scheme: dark) {
	  body {
		color: #ffffffe6;
	  }
	}

	@keyframes blur {
	  to {
		backdrop-filter: blur(20px);
		border-width: 1px;
		border-color: #000000;
		padding: 0.25rem 0.75rem;
		display: flex;
		flex-direction: row;
		align-items: center;
		background-color: #e5e5e5;
		border-radius: 9999px;
	  }
	}

	@media (prefers-color-scheme: dark) {
	  @keyframes blur {
		from {
		  border: 0px;
		}
		to {
		  box-shadow:
			0px 5px 50px -5px #0000001a,
			0px 0px 0 1px #0000004d;
		  background: #0000004d;
		  backdrop-filter: blur(20px);
		  border-width: 1px;
		  border-color: #000000;
		  padding-left: 0.75rem;
		  padding-right: 0.75rem;
		  padding-top: 0.25rem;
		  padding-bottom: 0.25rem;
		  display: flex;
		  flex-direction: row;
		  align-items: center;
		  background-color: #0000004d;
		  border-radius: 9999px;
		}
	  }
	}
  </style>
